<p>Počítali jsme vždycky se smrtí. Věděli jsme: dostaneme-li se do rukou Gestapa, znamená to konec. Podle toho jsme také jednali i zde. Teď snad potřebuje vysvětlení, proč já sám po nějaké době jsem začal postupovat poněkud jinak.</p>
<p>Sedm neděl jsem nevypovídal. Byl jsem si vědom, že žádné slovo mne nemůže zachránit, ale zato může ohrozit soudruhy venku. V mlčení byla moje aktivita.</p>
<p>Ale Klecan mluvil. Bylo tu již několik lidí ze řad inteligence. A přišlo stanné právo. Hromadné zatýkání a popravy bez dlouhých výslechů. Na Gestapu se kombinovalo: Když Vančura, proč ne také jiní? Proč ne S. K. Neumann? Proč ne Halas? Proč ne Olbracht? Ti tři byli mi přímo označováni jako autoři článků v Rudém právu. Jejich zatčení bylo na vážkách. A zatčení, to znamenalo jistou smrt. Na programu byli i jiní: Nezval, Seifert, oba Vydrové, Dostal a z důvodů mně už docela neznámých dokonce i Frejka a takový mnohoživelník jako Bor. Kdybych byl naráz vylil své ledví před Gestapem, nebyl bych jim většinou mohl ublížit. Ale o to teď nešlo. Šlo o něco jiného: mohl jsem je zachránit svým mlčením? Bylo mé mlčení ještě aktivním? Nebylo už pasivním?</p>
<p>Na tuhle otázku jsem si musil dát odpověď. A dal jsem si ji. Nejsem nepozorný k tomu, co se kolem mne děje a s kým mám co dělat. Sedm neděl na Gestapu naučilo mne mnohému. Poznal jsem ty všemocné lidi tady, jejich metody, jejich úroveň. Pochopil jsem, že mám i tady příležitost k boji; docela jinými prostředky než venku, ale se stejným smyslem a stejným zaměřením. Mlčet dál znamenalo nevyužít této příležitosti. Teď už bylo třeba něčeho víc, abych si mohl říci, že jsem na každém místě a v každé situaci plnil svou povinnost. Bylo třeba začít hrát vysokou hru. Ne o sebe – to bys musil hned prohrát – , ale o jiné. Očekávali ode mne senzaci. Dal jsem jim ji tedy. Slibovali si mnoho od mého mluvení. „Mluvil“ jsem tedy. Jak, najdete v mém protokolu.</p>
<p>Výsledky byly dokonce lepší, než jsem předpokládal. Obrátil jsem jejich pozornost docela jiným směrem. Zapomněli na Neumanny, Halase, Olbrachty. Dali pokoj české inteligenci. Docílil jsem dodatečně i propuštění zatčené Boženy Půlpánové a Jindřicha Elbla, jejichž svědectví se dovolávám. A víc. Získal jsem důvěru a pokračoval jsem. Několik měsíců se honili za vidinou, která – jako každá vidina – byla větší a svůdnější než skutečnost. A skutečnost venku mohla zatím pracovat a růst k velkosti, která předčí všechny vidiny. Mohl jsem pak i přímo zasahovat do případů, které se sem dostaly, a tyto zásahy „nezůstaly bez následků“. Byla to jediná práce, kterou jsem jako „hausarbeiter“ v Petschkově paláci poctivě konal.</p>
<p>Že jsem tím oddálil svou smrt, že jsem tím získal čas, který by mě snad mohl pomoci, byla odměna, s níž jsem nepočítal.</p>
<p>Rok psal jsem s nimi divadelní hru, v níž jsem si vyhradil hlavní úlohu. Bylo to někdy zábavné, někdy vyčerpávající, vždycky dramatické. Každá hra však má svůj konec. Vyvrcholení, krize, rozuzlení. Opona padá. Potlesk. Diváci, jděte spat!</p>
<p>Hle, i má hra se chýlí ke konci. Ten už jsem nenapsal. Ten už neznám. To už není hra. To je život.</p>
<p>A v životě není diváků.</p>
<p>Opona se zvedá.</p>
<p>Lidé, měl jsem vás rád. Bděte!</p>

<p>9. 6. 43 Julius Fučík</p>
