<p>Thomas Alva Edison vzpomíná na svoji první nahrávku na fonograf z roku 1877. Svoji vzpomínku nahrál v roce 1927 u příležitosti oslavy padesátého výročí.</p>
<em>
  <p>The first words I spoke in the original phonograph. A little piece of practical poetry. Mary had a little lamb. Its fleece was white as snow. And everywhere that Mary went, the lamb was sure to go.</p>
  <p>První slova, která jsem nahrál na fonograf. Malý kousek básničky. Mary měla malé jehňátko. Mělo vlnu bílou jako sníh. A kam Mary šla, jehňátko šlo s ní.</p>
</em>
<p><small>Zdroj: Thomas Edison: Marry had a Little Lamb [zvukový záznam z fonografu], 1927. Zdroj: Wikimedia</small></p>
